{% extends "base_site.html" %}
{% block content %}
<div class="notes">
<form method="post" action="{% url django_notes.views.delete %}">
<h1>Notes</h1>
<input type="submit" value="Delete selected" />
<ul>
  {% for note in object_list %}
  <li> <a class="title" href="{% url django_notes.views.edit note.id %}">
    <input type="checkbox" name="notes" value="{{ note.id }}" />
    <span>{{ note.title }}</span></a> <span class="buttons"><a class="edit" href="{% url django_notes.views.edit note.id %}/"></a><a class="delete" href="{% url django_notes.views.delete note.id %}"></a></span>
    <div class="clear"></div>
  </li>
  {% endfor %}
</ul>
<!-- end .notes -->
</div>
{% endblock %}
